/node_modules
/public/storage
/public/css
/public/js
/public/images
/public/fonts
/public/hot
/public/*.js
/public/mix-manifest.json
/public/vue-styles.css
/storage/*.key
/vendor
/.idea
/.idea/*
Homestead.json
Homestead.yaml
.env
/_ide_helper*.php
.phpstorm.meta.php
oauth-private.key
oauth-public.key
npm-debug.log
.DS_Store
!.gitkeep
yarn-error.log
nohup.out
